# ------------------------------------------------------------
# Python
# ------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# Python caches / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyright/

# Coverage
.coverage
.coverage.*
htmlcov/

# ------------------------------------------------------------
# Virtual environments
# ------------------------------------------------------------
venv/
.venv/
env/
.env/

# ------------------------------------------------------------
# Local IDE configurations
# ------------------------------------------------------------
.vscode/

# ------------------------------------------------------------
# Odoo
# ------------------------------------------------------------
*.log
*.pid
*.pid.lock

# ------------------------------------------------------------
# Editors / OS
# ------------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------------
# Temporary files
# ------------------------------------------------------------
*.swp
*.swo
*~